body {
  /* 文字に関するスタイル */
  /* 枠線に関するスタイル */
  /* 背景に関するスタイル */
  /* 横幅と高さに関するスタイル */
  /* 余白に関するスタイル */
  /* ボックスサイズの算出方法を指定 */
  /* テキストに関するスタイル */
  /* 表示に関するスタイル */
  /* 位置に関するスタイル */
  /* 横並び(浮動)に関するスタイル */
  /* 影に関するスタイル */
  background-color: #fff;
}

a {
  /* 文字に関するスタイル */
  /* 枠線に関するスタイル */
  /* 背景に関するスタイル */
  /* 横幅と高さに関するスタイル */
  /* 余白に関するスタイル */
  /* ボックスサイズの算出方法を指定 */
  /* テキストに関するスタイル */
  /* 表示に関するスタイル */
  /* 位置に関するスタイル */
  /* 横並び(浮動)に関するスタイル */
  /* 影に関するスタイル */
  text-decoration: none;
}

.display-block {
  /* 文字に関するスタイル */
  /* 枠線に関するスタイル */
  /* 背景に関するスタイル */
  /* 横幅と高さに関するスタイル */
  /* 余白に関するスタイル */
  /* ボックスサイズの算出方法を指定 */
  /* テキストに関するスタイル */
  /* 表示に関するスタイル */
  /* 位置に関するスタイル */
  /* 横並び(浮動)に関するスタイル */
  /* 影に関するスタイル */
  display: block;
}

@keyframes appeare {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.Polaris-Select {
  /* 文字に関するスタイル */
  /* 枠線に関するスタイル */
  /* 背景に関するスタイル */
  /* 横幅と高さに関するスタイル */
  /* 余白に関するスタイル */
  /* ボックスサイズの算出方法を指定 */
  /* テキストに関するスタイル */
  /* 表示に関するスタイル */
  /* 位置に関するスタイル */
  /* 横並び(浮動)に関するスタイル */
  /* 影に関するスタイル */
  position: relative !important;
  width: 140px !important;
  height: 51px !important;
  padding-top: 6% !important;
  padding-left: 8% !important;
}

.Polaris-Select__Content {
  /* 文字に関するスタイル */
  /* 枠線に関するスタイル */
  /* 背景に関するスタイル */
  /* 横幅と高さに関するスタイル */
  /* 余白に関するスタイル */
  /* ボックスサイズの算出方法を指定 */
  /* テキストに関するスタイル */
  /* 表示に関するスタイル */
  /* 位置に関するスタイル */
  /* 横並び(浮動)に関するスタイル */
  /* 影に関するスタイル */
  font-size: 1.8rem !important;
}

.Polaris-Select__Backdrop{
  /* 文字に関するスタイル */
  /* 枠線に関するスタイル */
  /* 背景に関するスタイル */
  /* 横幅と高さに関するスタイル */
  /* 余白に関するスタイル */
  /* ボックスサイズの算出方法を指定 */
  /* テキストに関するスタイル */
  /* 表示に関するスタイル */
  /* 位置に関するスタイル */
  /* 横並び(浮動)に関するスタイル */
  /* 影に関するスタイル */
  border:none !important;
  background-color:#fff !important;
  border-radius: 10px !important;
}

.Polaris-Select__Backdrop::after{
  /* 文字に関するスタイル */
  /* 枠線に関するスタイル */
  /* 背景に関するスタイル */
  /* 横幅と高さに関するスタイル */
  /* 余白に関するスタイル */
  /* ボックスサイズの算出方法を指定 */
  /* テキストに関するスタイル */
  /* 表示に関するスタイル */
  /* 位置に関するスタイル */
  /* 横並び(浮動)に関するスタイル */
  /* 影に関するスタイル */
  border-radius: 10px !important;
}