.full-name-input{
    position: absolute;
    width: 40%;
    height: 7%;
    left: 5%;
    top: 25%;
    border: 1px solid rgba(0,0,0,0.34);
    border-radius: 4px;
    font-size: 18px;
    padding: 0 0 0 2%;
}

.full-name-input-mobile{
    position: absolute;
    width: 40%;
    height: 4%;
    top: 38%;
    left: 5%;
    border: 1px solid rgba(0,0,0,0.34);
    border-radius: 4px;
    font-size: 16px;
    padding: 0 0 0 2%;
}