.full-name-input{
    /* 文字に関するスタイル */
    /* 枠線に関するスタイル */
    /* 背景に関するスタイル */
    /* 横幅と高さに関するスタイル */
    /* 余白に関するスタイル */
    /* ボックスサイズの算出方法を指定 */
    /* テキストに関するスタイル */
    /* 表示に関するスタイル */
    /* 位置に関するスタイル */
    /* 横並び(浮動)に関するスタイル */
    /* 影に関するスタイル */
    position: absolute;
    width: 40%;
    height: 7%;
    left: 5%;
    top: 25%;
    border: 1px solid rgba(0,0,0,0.34);
    border-radius: 4px;
    font-size: 18px;
    padding: 0 0 0 2%;
}

.full-name-input-mobile{
    /* 文字に関するスタイル */
    /* 枠線に関するスタイル */
    /* 背景に関するスタイル */
    /* 横幅と高さに関するスタイル */
    /* 余白に関するスタイル */
    /* ボックスサイズの算出方法を指定 */
    /* テキストに関するスタイル */
    /* 表示に関するスタイル */
    /* 位置に関するスタイル */
    /* 横並び(浮動)に関するスタイル */
    /* 影に関するスタイル */
    position: absolute;
    width: 40%;
    height: 4%;
    top: 38%;
    left: 5%;
    border: 1px solid rgba(0,0,0,0.34);
    border-radius: 4px;
    font-size: 16px;
    padding: 0 0 0 2%;
}

.email-input{
    /* 文字に関するスタイル */
    /* 枠線に関するスタイル */
    /* 背景に関するスタイル */
    /* 横幅と高さに関するスタイル */
    /* 余白に関するスタイル */
    /* ボックスサイズの算出方法を指定 */
    /* テキストに関するスタイル */
    /* 表示に関するスタイル */
    /* 位置に関するスタイル */
    /* 横並び(浮動)に関するスタイル */
    /* 影に関するスタイル */
    font-family: Montserrat;
    position: absolute;
    width: 40%;
    height: 7%;
    left: 54%;
    top: 25%;
    border: 1px solid rgba(0,0,0,0.34);
    border-radius: 4px;
    font-size: 18px;
    padding: 2% 2% 2% 2%;
}

.email-input-mobile{
    /* 文字に関するスタイル */
    /* 枠線に関するスタイル */
    /* 背景に関するスタイル */
    /* 横幅と高さに関するスタイル */
    /* 余白に関するスタイル */
    /* ボックスサイズの算出方法を指定 */
    /* テキストに関するスタイル */
    /* 表示に関するスタイル */
    /* 位置に関するスタイル */
    /* 横並び(浮動)に関するスタイル */
    /* 影に関するスタイル */
    font-family: Montserrat;
    position: absolute;
    width: 40%;
    height: 4%;
    top: 38%;
    left: 54%;
    border: 1px solid rgba(0,0,0,0.34);
    border-radius: 4px;
    font-size: 16px;
    padding: 2% 2% 2% 2%;
}

.inquiry-input{
    /* 文字に関するスタイル */
    /* 枠線に関するスタイル */
    /* 背景に関するスタイル */
    /* 横幅と高さに関するスタイル */
    /* 余白に関するスタイル */
    /* ボックスサイズの算出方法を指定 */
    /* テキストに関するスタイル */
    /* 表示に関するスタイル */
    /* 位置に関するスタイル */
    /* 横並び(浮動)に関するスタイル */
    /* 影に関するスタイル */
    position: absolute;
    width: 89%;
    height: 20%;
    left: 5%;
    top: 41%;
    font-family: inherit;
    font-size   : 100%;
    line-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    border-radius: 4px;
    resize: none;
    padding: 2% 2% 2% 2%;
}

.inquiry-input-mobile{
    /* 文字に関するスタイル */
    /* 枠線に関するスタイル */
    /* 背景に関するスタイル */
    /* 横幅と高さに関するスタイル */
    /* 余白に関するスタイル */
    /* ボックスサイズの算出方法を指定 */
    /* テキストに関するスタイル */
    /* 表示に関するスタイル */
    /* 位置に関するスタイル */
    /* 横並び(浮動)に関するスタイル */
    /* 影に関するスタイル */
    position: absolute;
    width: 89%;
    height: 20%;
    height: 10%;
    top: 48%;
    left: 5%;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    border-radius: 4px;
    resize: none;
    padding: 1% 1% 1% 1%;
}

.error{
    /* 文字に関するスタイル */
    /* 枠線に関するスタイル */
    /* 背景に関するスタイル */
    /* 横幅と高さに関するスタイル */
    /* 余白に関するスタイル */
    /* ボックスサイズの算出方法を指定 */
    /* テキストに関するスタイル */
    /* 表示に関するスタイル */
    /* 位置に関するスタイル */
    /* 横並び(浮動)に関するスタイル */
    /* 影に関するスタイル */
    color: #f00;
    border: 1px solid #f00;
    background: #FADBDA;
}